@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@300&display=swap');


body{
  margin:0;
}

html {
  font-family: 'Roboto', 'Montserrat', sans-serif;
  background-color: #ffc845;
}

header{
  color: white;
  background-color: rgb(39, 153, 137);
  display: flex;
  justify-content: space-between;
  cursor: pointer;

}

section{
  color: white;
  background-color: rgb(95, 167, 137);
  display:flex ;
  justify-content: space-between;
  align-items: center;
}

main{
  background-color: rgb(255, 200, 69);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

h1{
  display: flex;
}

nav{
  display: flex;
  padding: 15px;
  flex-direction: row;
}

a{
  text-decoration: none;
  color: white;
  font-size: 2rem;
}

p{
  display: flex;
}

button{
  border-radius: 40px;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.eliminar{
  border:  0px;
  background-color:rgb(255, 200, 69) ;
  cursor: pointer;
}

input[type="text"]{
  font-weight: bold
}

input[type="checkbox"]{
  cursor: pointer;
}

input[type="submit"]{
  border: none;
  cursor: pointer;
  background-color:  rgb(95, 167, 137);
  color: white;
  margin: 20px;
  padding: 10px;
}

input[type="text"] #price::after{
  content: "€";
}

label{
  font-size: bold;
  cursor: pointer;
}
